%header{
    margin: 0;
    padding: 0;
    h1{
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        @include font(3em, $font-light);
        img{
            margin-right: 1em;
        }
    }
}

%list{
    li{
        margin-bottom: 1.25em;
        @include font(1em, $font-light);
        @include textAlign(justify);
        list:{
            style:{
                image: url("/_cdn/img/vt-paw-li.svg");
                position: inside;
            }
        }
    }
}

