//TABLET
@media screen and (max-width: 768px) {

    //BODY
    * {
        font-size: 14px;
    }

    //NAVBAR
    .navbar{
        img{
            height: 5.5em;
        }
        .collapse{
            margin: 1.5em 0;
        }
    }

    #quem-somos{
        .row{
            & > div:nth-child(2){
                display: none;
            }
        }
        .main_about_video{
            iframe{
                min-height: 20em;
            }
        }
    }
}

//MOBILE
@media screen and (max-width: 425px) {
    .main_shower{
        .main_shower_information {
            .main_shower_information_content{
                .main_shower_image{
                    margin-top: 2em;
                    justify-content: center;
                }
            }
        }
    }
}

@media screen and (max-width: 375px) {
    #especialidades{
        .main_specialties_header{
            h1{
                font-size: 2em;
            }
        }
    }
    .footer{
        .footer_developer{
            .footer_developer_container{
                display: block;
                .footer_developer_goognet{
                    margin-bottom: .5em;
                    @include textAlign(center);
                }
            }
        }
    }
}

@media screen and (max-width: 320px) {
    .main_shower{
        .main_shower_information {
            .main_shower_information_content{
                .main_shower_information_content_content_service{
                    .main_shower_information_content_content_service_buttons{
                        a{
                            font-size: .875em;
                        }
                    }
                }
            }
        }
    }
}
