//TABLET
@media screen and (max-width: 768px) {

    //BODY
    * {
        font-size: 14px;
    }

    //NAVBAR
    .navbar{
        img{
            height: 5.5em;
        }
        .collapse{
            margin: 1.5em 0;
        }
    }
}

@media screen and (max-width: 375px) {
    .footer{
        .footer_developer{
            .footer_developer_container{
                display: block;
                .footer_developer_goognet{
                    margin-bottom: .5em;
                    @include textAlign(center);
                }
            }
        }
    }
}

@media screen and (max-width: 320px) {
    .main_specialties{
        .main_specialties_header{
            h1{
                @include font(2em, inherit);
                img{
                    height: 3.25em;
                }
            }
        }
        .main_specialties_content{
            .main_specialties_content_contact{
                .main_specialties_content_contact_buttons{
                    a{
                        font:{
                            size: .875em;
                        }
                    }
                }
            }
        }
    }
}
