//TABLET
@media screen and (max-width: 768px) {

    //BODY
    * {
        font-size: 14px;
    }

    //NAVBAR
    .navbar{
        img{
            height: 5.5em;
        }
        .collapse{
            margin: 1.5em 0;
        }
    }

    #quem-somos{
        .row{
            & > div:nth-child(2){
                display: none;
            }
        }
        .main_about_video{
            iframe{
                min-height: 20em;
            }
        }
    }
}

//MOBILE
@media screen and (max-width: 576px) {

}
