.header{
    .navbar{
        min-height: 120px;
        border-bottom: 1.5px solid $color1;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        -webkit-backdrop-filter: blur(4px);
        backdrop-filter: blur(4px);
        .collapse{
            .navbar-nav{
                .nav-item{
                    text-align: center;
                    .nav-link{
                        position: relative;
                        color: $color2;
                        text-align: center !important;
                        font:{
                            weight: $font-bold;
                        }
                        &:hover{
                            color: $color1;
                            @include transition;
                        }
                    }
                    .dropdown-menu{
                        background:{
                            color: $bg-color1;
                            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
                            -webkit-backdrop-filter: blur(4px);
                        }
                        .dropdown-item{
                            &:hover{
                                background:{
                                    color: $color1;
                                }
                                color: $color3;
                                @include transition;
                            }
                        }
                    }
                }
            }
        }
    }
}