#especialidades{
    margin: 0;
    padding: 5em 0;
    background:{
        color: $bg-color2;
    }
    .main_specialties_header{
        margin: 0;
        padding: 0;
        @extend %header;
    }
    .main_specialties_content{
        margin-top: 5em;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 20px;
        .main_specialties_content_card{
            margin: 0;
            padding: 2em;
            background{
                color: $color3;
            }
            box-shadow: 0 0 10px rgba(#333, .3);
            -webkit-border-radius: .375em;
            border-radius: .375em;
            &:hover{
                transform: scale(1.025);
                @include transition;
            }
            .main_specialties_content_card_image{
                margin-bottom: 1.25em;
                display: flex;
                justify-content: center;
            }
            .main_specialties_content_card_body{
                margin: 0;
                padding: 0;
                h2{
                    margin: 0;
                    padding: 0;
                    @include font(1.25em, $font-bold);
                    @include textAlign(center);
                }
            }
        }
    }
}
